






















<!-- 
<p>ruta-login works!</p>


<button class="btn btn-primary"
        (click)="mostrarPrimerComponente = !mostrarPrimerComponente"
>
    {{ mostrarPrimerComponente ? 'OCULTAR' : 'MOSTRAR' }}
</button>
-->
<!-- Directiva ngIf -->
<!-- 
<app-mostrar-usuario *ngIf="mostrarPrimerComponente">

</app-mostrar-usuario>
-->

<!-- Directiva ngFor -->
<!--
<div class="row">
    <div class="col-sm-6" *ngFor="let usuarioIterado of usuarios">
        <h1>TITULO</h1>
        <app-mostrar-usuario [usuario]="usuarioIterado">

        </app-mostrar-usuario>
        <p>DESCRIPCION</p>
    </div>
</div>
-->
<!-- /servicios/rest/ ng generate module todos-rest -->
<!-- /servicios/rest/todos-rest/ ng generate service todos-rest -->

