
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button class="btn btn-primary w-100" *ngIf="!mostrarFormularioCrear"
                (click)="mostrarFormularioCrear = !mostrarFormularioCrear"
        >
            Crear
        </button>
    </div>
    <div class="col-sm-12" *ngIf="mostrarFormularioCrear">
        <app-formulario-todo (formularioValido)="escucharEventoFormularioValidoCrear($event)">
        </app-formulario-todo>
        <button class="btn btn-success w-100"
                [disabled]="!mostrarBotonCrear"
                (click)="crearNuevoTodo()"
                (click)="mostrarFormularioCrear = !mostrarFormularioCrear"
        >
            Crear
        </button>
        <button class="btn btn-secondary w-100 espaciador-boton"
                (click)="mostrarFormularioCrear = !mostrarFormularioCrear"
        >
            Cancelar
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>Lista de Todos</h1>
        <p>Selecciona tus todos y editalos o eliminalos.</p>
    </div>
    <!-- EMMET -> html rapido -->
    <div class="col-sm-4" *ngFor="let todo of todos">
        <div [ngClass]="{
            'completado': todo.completed
        }"
         class="contenedor-todo animacion borde estilo">
         <h4 class="titulo text-center">{{todo.title}}#{{todo.id}}</h4>
            <button class="btn btn-info btn-sm w-100 espaciador-boton"
                    (click)="navegarARutaUsuario(todo.id)"
            > 
                Visitar usuario
            </button>
            <button class="btn btn-warning btn-sm w-100 espaciador-boton"
                    (click)="editarTodo(todo.id)"
            > 
                Editar usuario
            </button>
            <button class="btn btn-danger btn-sm w-100 espaciador-boton"
                (click)="eliminarTodo(todo.id)"
            > 
                Eliminar usuario
            </button>
            
        </div>
    </div>
</div>




















<!-- 
<p>ruta-login works!</p>


<button class="btn btn-primary"
        (click)="mostrarPrimerComponente = !mostrarPrimerComponente"
>
    {{ mostrarPrimerComponente ? 'OCULTAR' : 'MOSTRAR' }}
</button>
-->
<!-- Directiva ngIf -->
<!-- 
<app-mostrar-usuario *ngIf="mostrarPrimerComponente">

</app-mostrar-usuario>
-->

<!-- Directiva ngFor -->
<!--
<div class="row">
    <div class="col-sm-6" *ngFor="let usuarioIterado of usuarios">
        <h1>TITULO</h1>
        <app-mostrar-usuario [usuario]="usuarioIterado">

        </app-mostrar-usuario>
        <p>DESCRIPCION</p>
    </div>
</div>
-->
<!-- /servicios/rest/ ng generate module todos-rest -->
<!-- /servicios/rest/todos-rest/ ng generate service todos-rest -->

