.rojo{
    background-color: red;
}
.amarillo{
    background-color: yellow;
}
.verde{
    background-color: green;
}
.naranja{
    background-color: orange;
}
.cafe{
    background-color: brown;
}
.azul{
    background-color: blue;
}